includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: 8
  tmpDir: var/phpstan
  paths:
    - src
    - tests

  reportUnmatchedIgnoredErrors: true
  checkDynamicProperties: true
  reportNonIntStringArrayKey: true
  checkMissingOverrideMethodAttribute: true
  checkStrictPrintfPlaceholderTypes: true

  ignoreErrors:
    - identifier: missingType.iterableValue
      path: tests/*Test.php
